go 1.27.0

use (
	.
	./agents/node-agent
	./connectors/identity-azure
	./connectors/identity-ldap
	./connectors/identity-keycloak
	./contracts
	./core
	./plugins/backup
	./plugins/baremetal
	./plugins/ceph
	./plugins/cephfs
	./plugins/containers
	./plugins/dbaas
	./plugins/dns
	./plugins/glusterfs
	./plugins/image
	./plugins/iscsi
	./plugins/kvm
	./plugins/loadbalancer
	./plugins/network
	./plugins/nfs
	./plugins/nvmeof
	./plugins/orchestration
	./plugins/openbao
	./plugins/openbao-keys
	./plugins/messaging
	./plugins/telemetry
	./plugins/s3
	./plugins/smb
	./plugins/zfs
	./sdk/go
	./sdk/go/httpapi
	./sdk/go/identity
	./sdk/go/schema
	./sdk/go/security
	./services/orion-baremetal
	./tests/conformance
)
